/* Modified "Edurne" theme for /r/learnpython

==Edurne Reddit CSS Theme v5.6 - (http://www.reddit.com/r/edurne/)== */

/* GENERAL */
body { position:relative; font-family:arial, helvetica, sans-serif; }
body > .content { overflow:hidden; }
.md p { font-family:Verdana, arial, sans-serif; padding:1px 0; }

.link .usertext .md,.usertext table.markhelp,.btn .login-form-side,.infobar,#search,#search input[type=text],
.link,#header-bottom-right #userbarToggle,.linkinfo,textarea,.rounded,.sidecontentbox .content {
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;
}

/* HEADER */
#sr-header-area {
    background-color:#c6daed;
    text-transform:lowercase;
    border-bottom:3px solid #c2d6e9;
    font-size:100%;
    font-family:Verdana, arial, sans-serif;
}

#sr-header-area a { color:#54708b; }
body.res-nightmode #header { border-color: #DDF; }
body.res-nightmode #header .tabmenu li:not(.selected) a { color: #346; }
#header .tabmenu li.selected a { border: 0; border-bottom: 1px solid #FFF; }
#header .tabmenu li:not(.selected):hover a { background-color: #449EF8; color: #FFF; }
body.res-nightmode #header .tabmenu li { background-color: #DDD !important; }
body.res-nightmode #header .tabmenu li:not(.selected):hover a { background-color: #CCC; color: #444; }
#header-img { margin:8px 20px 0; }
.pagename { margin-right:25px; font-weight:bold; font-variant:normal; font-size:18px; }
body.res-nightmode .pagename a { font-size: 18px !important; }
#sr-header-area .dropdown.srdrop, #sr-header-area#srLeftContainer { padding-left:21px; }
#sr-more-link, #header #sr-header-area #RESShortcutsEditContainer, #header #sr-header-area #RESShortcutsRight, #header #sr-header-area #RESShortcutsLeft,
#header #sr-header-area #RESShortcutsAdd, #header #sr-header-area #RESShortcutsTrash { background-color:#c6daed; }
body.res-nightmode #sr-header-area, body.res-nightmode #sr-more-link { background-color: #c6daed !important; }
#sr-header-area #RESShortcutsEditContainer, #sr-more-link { border-right:20px solid #c6daed; font-weight:bolder; }

#header-bottom-right {
    right:20px;
    background-color:#deeaf6;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
}
body.res-nightmode #header-bottom-right { background-color: #DEEAF6 !important; }
#header-bottom-right.res-navTop { top: 21px !important; }

#header-bottom-right.res-navTop #userbarToggle {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}
#header-bottom-right #userbarToggle {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
}
#header-bottom-right #userbarToggle {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
    width:14px;
    padding-right:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
}

/* SIDEBAR */

/* search */
.side #search {
    border:1px solid #eaeaea;
    padding:10px;
    margin-top:20px;
    background-color:#FAFAFA;
}
body.res-nightmode #search {
    background-color: #AAA;
    border-color: #BBB;
}
#search input[type=text] {
    width:265px;
    border:1px solid #DBDADA;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;
    font-size:14px;
    font-style:italic;
    padding:4px;
}

/* side */
.side { margin: 0 20px; }
.side .md { overflow:hidden; }
.titlebox { padding:0 10px; }
.titlebox .bottom { display:none; }
.side .titlebox > h1 { font-size:34px; letter-spacing: -1px;}
.linkinfo { padding:15px; border:none; background-color:#CEE3F8; }
body.res-nightmode .side .redditname a { color: #DDD !important; }
.sidebox.submit .spacer, .sidebox.create { display:none; }
.linkinfo .score .word,.linkinfo .score .number { font-size:15px; }
.sidecontentbox .content { border:0px solid #EAEAEA; background-color:#FAFAFA; padding:10px; }
.icon-menu li { margin:0 0 5px; }

.side h1, .side h2, .side h3 {color: #222;}
.side h1 {font-size: 19px;}
.side h2 {font-size: 16px;}
.side h3 {font-size: 14px;}

body.res-nightmode .login-form-side {
    background-color: #111 !important;
    color: #DDD !important;
    border: 1px solid #DDD !important;
}

body.res-nightmode .login-form-side #remember-me label { color: #DDD !important; }
body.res-nightmode .login-form-side #remember-me input { width: auto !important; margin-left: 6px; }
body.res-nightmode .side .login-form-side .submit { padding: 4px; background-color: transparent; }
body.res-nightmode .side .login-form-side .submit .btn { margin: auto; }

/* submit */
.sidebox.submit { width:300px; }
body.res-nightmode .sidebox { padding-left: 0 !important; }
body.res-nightmode .sidebox.submit { background-image: none !important; }

body.res-nightmode .sidebox.submit .nub {
    background: #222;
    border-left: 24px solid #393939;
}
body.res-nightmode .sidebox, body.res-nightmode .subredditbox, body.res-nightmode .subreddit-info, body.res-nightmode .raisedbox, body.res-nightmode .login-form-side {
    border: 0 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
body.res-nightmode .sidebox.submit .morelink a { color: #DDD !important; }
body.res-nightmode .sidebox.submit:hover { background-color: #444 !important; }
body.res-nightmode .sidebox.submit:hover .nub { border-left-color: #444; }

.morelink,.morelink:hover,.side a[href*='/#btn'] {
    font-weight:normal;
    letter-spacing:0;
    background:#449EF8;
    border: none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.morelink a,.morelink a:hover { color:#FFF; font-family:Verdana, Arial, sans-serif; font-size:16px; }
.morelink .nub,.morelink:hover .nub {
    top: 0;
    right: -25px;
    height: 0;
    width: 0;
    background: white;
    border: 24px solid #449EF8;
    border-top-width: 15px;
    border-top-color: transparent;
    border-bottom-width: 15px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.morelink:hover .nub { border-left-color: #56A6F7 }
.disabled .morelink a,.disabled .morelink a:hover { cursor:default; color:#AAA; }
.morelink:hover { background-color:#56a6f7; border-color:#56a6f7; }
.disabled .morelink,.disabled .morelink:hover { background:#f5f5f5; border-color:#f5f5f5; }
.disabled .morelink .nub,.disabled .morelink:hover .nub { background:url(%%sprites-05%%) 0 0 no-repeat transparent; border-color:#f5f5f5; }

/* CONTENT */

/* main content */
.sitetable { font-family:verdana, arial, helvetica, sans-serif; clear:left;}
.infobar { overflow:hidden; margin:0 0 10px; }
.content { margin:20px 0 0 20px; }

.link {
    overflow:hidden;
    margin:0px;
    padding:5px;
    border:1px solid #EAEAEA;
    background-color:#FAFAFA;
}
body.res-nightmode .sitetable .thing.link, body.res-nightmode div#siteTable div[onclick="click_thing(this)"] {
    border: 1px solid #4c4c4c !important;
    background-color: #333 !important;
}
body.res-nightmode .sitetable .thing.link .keyHighlight {
    background-color: #363636 !important;
    border-color: #666 !important;
    outline-color: #666 !important;
}
body.res-nightmode .midcol {
    background-color: #222 !important;
    padding: 4px;
}

.link .rank { display:none; }
.link.last-clicked { border:1px dashed #EAEAEA; }
body.res-nightmode .link.last-clicked { border-color: #666; }
.linklisting > .clearleft { margin:5px; }
.entry .buttons li { display:inline; float:left; }
.link .midcol { margin-right:10px; margin-left:0; }

/* main comments */
.commentarea { margin-top:10px; }
.link.self .usertext-body .md p,.comment .usertext-body .md p { line-height:1.3em; }
.link .usertext .md { padding:5px 10px; }
.panestack-title { border:none; margin:0; padding:0; }
.panestack-title .title { float:left; font-size:11px; color:#888; margin:0; }
.commentarea .menuarea { font-size:11px; margin:0; }
.panestack-title:after { content:'-'; padding:0 5px; float:left; }
.commentarea > .usertext { clear:left; margin:0; }
.usertext-edit { width:auto; }
.usertext-edit textarea { width:430px; padding:10px; }
.usertext .bottom-area { width:450px; }
.comment .usertext .bottom-area { width:100%; }
.usertext button { margin:5px 5px 10px 0; border:none; min-width:70px; }
body.res-nightmode .usertext .help-toggle { background-color:#DDD; }
.usertext .help-toggle a { color:#FFF; }
body.res-nightmode .usertext .help-toggle a { color:#444 !important; }
.usertext table.markhelp { width:450px; font-size:11px; }
.link .usertext .md { background-color:#FFF; border:1px solid #EAEAEA; }
.entry .buttons li a { font-family:verdana, arial, sans-serif; }

.usertext .help-toggle, .res-nightmode button.RESBigEditorPop, .usertext .bottom-area .reddiquette {
    background-color:#999;
    border:none;
    color:#FFF;
    padding:6px;
    margin:5px 3px;
    font-size:13px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius: 0;
}

#RESShortcutsSort { background-color:transparent !important; }
/* MODERATOR SPECIFIC */

/* stylesheet tweaks */
.stylesheet-customize-container { width: 100%; }
#subreddit_stylesheet { display: block; overflow: hidden; padding-right: 80px; }
.sheets { margin: 0; }

#stylesheet_contents {
    font-family: Consolas, Monaco, monospace;
    padding: 12px;
    background-color: #222;
    color: #ace;
    border: 8px solid #222;
}
body.res-nightmode #stylesheet_contents {
    background-color: #111;
    border-color: #111;
}


/* MISC STYLING */

/* No Participation CSS credit to /r/noparticipation, slightly modified */
body:lang(np):not(.subscriber) .arrow {
    visibility: hidden !important;
}

body:lang(np):not(.subscriber) .usertext-edit,
body:lang(np):not(.subscriber) .sidebox.submit,
body:lang(np):not(.subscriber) .commentingAs,
body:lang(np):not(.subscriber) .markdownEditor,
body:lang(np):not(.subscriber) .report-button,
body:lang(np):not(.subscriber) a[onclick*="return reply(this)"],
body:lang(np):not(.subscriber) .subButtons,
body:lang(np):not(.subscriber) .helplink,
body:lang(np):not(.subscriber) .titlebox .fancy-toggle-button.toggle > .option.add {
    display: none !important;
}

body:lang(np):not(.subscriber) > .content:before {
    content: "You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
    display: block;
    max-width: 800px;
    background-color: #F6E69F;
    padding: 5px 10px;
    margin: 5px 2px;
    border: 1px solid orange;
    font-size: small;
    text-align: center;
}

body:lang(np):not(.subscriber) .entry.likes:not(.reddit-entry):before,
body:lang(np):not(.subscriber) .entry.dislikes:not(.reddit-entry):before {
    content: "Please do not vote or comment when you come from external subreddits.";
    color: red;
    font-size: large;
    font-weight: bold;
}

/* Wiki protection */
body.wiki-page:lang(np):not(.subscriber) span.pageactions a.wikiaction-edit:not(.wikiaction-current),
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform label[for='reason'],
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input#wiki_revision_reason,
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input[type='submit'] {
    display: none !important;
}


/* buttons */
.btn, button, .side a[href*='/#btn'] {
    background-color:#449EF8;
    border:none;
    color:#FFF;
    padding:6px;
    margin:5px 5px 5px 0;
    cursor:pointer;
    font-size:13px;
    font-family:arial,helvetica,sans-serif;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;
}
.side a[href*='/#btn'] {
    text-align: center;
    display: block;
    width: auto;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 29px;
    margin:10px 0px;
}

body.res-nightmode .btn, body.res-nightmode button,
body.res-nightmode .side a[href*='/#btn'] { color: #444 !important; background-color: #CCC !important; }
.btn a { color:#FFF; }
body.res-nightmode .btn a { color: #444 !important; }
.btn:hover,button:hover,.side a[href*='/#btn']:hover { background-color:#56a6f7; border-color:#56a6f7; }
body.res-nightmode .btn:hover, body.res-nightmode button:hover,
body.res-nightmode .side a[href*='/#btn']:hover { background-color:#DDD !important; border-color:#DDD; }

/* code styling */
.usertext-body pre {
    margin:10px 0;
    color: #222 !important;
}
.usertext-body pre, .usertext-body p > code {
    background:#f7f7f7;
    border:1px solid #ccc;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;
    font-size:11px;
    color: #222 !important;
    overflow: auto;
}
.usertext-body code {
    color: #222 !important;
    font-family:Consolas, Monaco, monospace;
    line-height:1.5em;
}
.usertext-body p > code {
    padding:0 3px;
    color: #222 !important;
}

/* mobile-friendly spoiler tags (credit /u/listen2) */
a[href='#s'] {
    font-size:0;
    visibility:hidden;
    cursor:default;
    display:inline-block;
}
a[href='#s']::after {
    content:attr(title);
    background:#cee3f8;
    color:#cee3f8;
    font-size:small;
    visibility:visible;
}
body.res-nightmode a[href='#s']::after {
    content:attr(title);
    background:#666;
    color:#666;
    font-size:small;
    visibility:visible;
}
a[href='#s']:hover::after,a[href='#s']:active::after {
    color:#000;
    background:transparent;
    text-decoration:none;
    font-size:small;
}
body.res-nightmode a[href='#s']:hover::after, body.res-nightmode a[href='#s']:active::after {
    color:#DDD;
    background:transparent;
    text-decoration:none;
    font-size:small;
}

/* sidebar icons */
.side a[href*='#icon-'] { color:#000; cursor:default; }
.side a[href*='#icon-']:hover { text-decoration:none; }
.side a[href*='#icon-']::before {
    display:inline-block;
    height:16px; width:16px;
    content:'';
    margin:0 5px -1px 0;
    background: url(%%sprites-05%%) 30px 30px no-repeat;
}

.side a[href='#icon-exclamation']::before   {background-position: -16px -32px;}
.side a[href='#icon-information']::before   {background-position: -54px -51px;}
.side a[href='#icon-lightbulb']::before     {background-position: -16px -51px;}
.side a[href='#icon-comments']::before      {background-position: -35px -89px;}
.side a[href='#icon-unhappy']::before       {background-position: -73px -89px;}
.side a[href='#icon-check']::before         {background-position: -73px -51px;}
.side a[href='#icon-clock']::before         {background-position: -35px -51px;}
.side a[href='#icon-cross']::before         {background-position: -35px -70px;}
.side a[href='#icon-smile']::before         {background-position: -54px -89px;}
.side a[href='#icon-error']::before         {background-position: -54px -32px;}
.side a[href='#icon-note']::before          {background-position: -54px -70px;}
.side a[href='#icon-star']::before          {background-position: -73px -32px;}
.side a[href='#icon-help']::before          {background-position: -16px -70px;}
.side a[href='#icon-time']::before          {background-position: -73px -70px;}
.side a[href='#icon-bell']::before          {background-position: -35px -32px;}
.side a[href='#icon-eye']::before           {background-position: -16px -89px;}


/* SUBREDDIT-SPECIFIC STYLES - add you own styles below without modifying the code above.*/

/* Hide the nub */

.morelink .nub {
    visibility: hidden;
}

.usertext-body a code {
    color: #0000FF !important;
}

.RESBigEditorPop.blueButton {
    background-color:#999;/*#449EF8; this is blue*/
    border:none;
    color:#FFF;
    padding:6px;
    margin:5px 5px 5px 5px !important;
    cursor:pointer;
    font-size:13px;
    font-family:arial,helvetica,sans-serif;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;
}

#RESShortcutsSort {
    background-color:transparent !important
}

body.wiki-page .wiki-page-content .md.wiki>.toc>ul {
float: none;
}

/* Downvote arrow info */

.arrow.down:hover:before {
    position: absolute;
    display: block;
    z-index: 1000;
    width: 220px;
    padding: 5px;
    border: 1px solid #CECFCF;
    background-color: #F5F5F5;
    content: 'Please explain your downvote in a reply';
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
    margin-top: 5px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;
}


/* Link info*/

.linkinfo {
    background-color: white;
    color: #363636;
    text-align: center;
    font-size: 11px;
    padding: 10px 0px 15px 0px;
    border: 1px solid #E7E6E6;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
   -moz-border-radius: 0px!important;
   -webkit-border-radius: 0px!important;
   -o-border-radius: 0px!important;
   -ms-border-radius: 0px!important;
   -khtml-border-radius: 0px!important;
   border-radius: 0px!important;
}
.linkinfo .downvotes .number, .linkinfo .upvotes .number, .linkinfo .score .number {
    font-size: 20px !important;
    display: block;
    font-weight: normal !important
    }
.linkinfo .score .word {
    display: none
    }
.linkinfo .score {
    font-size: 11px;

    display: block;
    min-width: 80px;
    margin-left: 30px !important
    }
.linkinfo .downvotes .word, .linkinfo .upvotes .word {
    font-size: 11px;
    }
.linkinfo .upvotes, .linkinfo .downvotes, .linkinfo .score {
    float: left;
    padding: 5px 10px 5px 0;
    margin: 8px 10px 10px 0;
    text-align: center
    }
.linkinfo .score, .linkinfo .upvotes {
    border-right: 1px solid #CEE3F8
    }

.linkinfo .shortlink {
    clear: both !important;
    font-size: 10px;
    margin: 0px 20px 0px 20px;
    border: 1px solid #E7E6E6;
    text-align:center;
    }
.linkinfo .shortlink input {
    background: transparent;
    border: 0px ;
    padding-left: 8px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto
}
.linkinfo .date{
   padding: 8px;
   margin-top: -10px;
   margin-bottom: 7px;
   color: white;
   background-color: #449EF8;
   font-size: 12px;
}

body.wiki-page .wiki-page-content{margin:1px;margin-right:1px}

/* Code Block Line Numbers */
.md pre
{
    border:1px solid #EDEDED;
    position:relative;
    padding-left: 10px;
    font-family: consolas,"Courier New",courier,monospace;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

.md pre code
{
    overflow:auto;
    display:block;
    margin-left: 20px;
    border-left: 1px solid #EDEDED;
    padding-left: 10px;
    font-family: consolas, "Courier New",courier,monospace;
}


.md pre code:before
{
    height:100%;
    color: #ABABAB;
    position: absolute;
    left: 2px;
    width:25px;
    white-space: pre-wrap;
    direction:rtl;
    overflow:hidden;
    content:"1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250";
}

.usertext-body pre, .usertext-body p code {
    background: #f6f6f6;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    }
.usertext-body code {
    color: #222;
    font-family: Consolas, Monaco, monospace;
    line-height: 1.5em
    }

/* Sidebar buttons */

html:not([lang="ns"]) .fancy-toggle-button .remove,
html:not([lang="ns"]) .RESshortcutside.remove,
html:not([lang="ns"]) .REStoggle.remove {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(217, 83, 79) !important;
    border-color: rgb(212, 63, 58) !important;
    background-image:none !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

html:not([lang="ns"]) .fancy-toggle-button .remove:hover,
html:not([lang="ns"]) .RESshortcutside.remove:hover,
html:not([lang="ns"]) .REStoggle.remove:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(210, 50, 45) !important;
    border-color: rgb(172, 41, 37) !important;
    background-image:none !important;

}

html:not([lang="ns"]) .fancy-toggle-button .add {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76) !important;
    background-image:none !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

html:not([lang="ns"]) .fancy-toggle-button .add:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(71, 164, 71) !important;
    border-color: rgb(57, 132, 57) !important;
    background-image:none !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

html:not([lang="ns"]) .RESshortcutside, html:not([lang="ns"]) .REStoggle {
    color: rgb(255,255,255);
    background-color: rgb(92,184,92);
    border-color: rgb(76,174,76)!important;
    background-image: none!important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

html:not([lang="ns"]) .RESshortcutside:hover,
html:not([lang="ns"]) .REStoggle:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(71, 164, 71) !important;
    border-color: rgb(57, 132, 57) !important;
    background-image:none !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

/* button sizing */
html:not([lang="ns"]) .fancy-toggle-button .active,
html:not([lang="ns"]) .RESshortcut.RESshortcutside.remove,
html:not([lang="ns"]) .REStoggle.RESDashboardToggle.remove,
html:not([lang="ns"]) .REStoggle.RESDashboardToggle,
html:not([lang="ns"]) .RESshortcut.RESshortcutside {
    padding: 4px 8px !important;
    width: auto !important;
    line-height: 1 !important;
    margin: 0 !important;
    display: inline-block !important;
    margin-right: 5px !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

html:not([lang="ns"]) .fancy-toggle-button .option.remove.active,
html:not([lang="ns"]) .fancy-toggle-button .option.add.active {
    margin-right:0 !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}


/* Align RES big editor button*/

.RESBigEditorPop{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* Make the search expand thingy look more like the rest of the CSS*/

#searchexpando {
  background-color: #E7E6E6 !important;
  border-color: #E7E6E6;
  -moz-border-radius: 0px!important;
  -webkit-border-radius: 0px!important;
  -o-border-radius: 0px!important;
  -ms-border-radius: 0px!important;
  -khtml-border-radius: 0px!important;
  border-radius: 0px !important;
  }

/* Sidebar */
/* main headers */
.side .md h1
{
    font-size:16pt;
    font-weight:bold;
    margin-top:10px;
    border-bottom:0px solid #999;
}

/* expanding list headers */
div.titlebox .md h2
{
    background-color:#2f85f2;
    padding:8px 10px 8px 14px;
    font-weight:normal;
    cursor:pointer;
    color:#fff!important;
    font-size:10pt
}
.res-nightmode .titlebox .md h2
{
    background-color: #000 !important;
    color: #999!important;
    border-color: #222222!important;
}

/* force linebreaks */
div.titlebox .md ul li strong:first-child
{
    display:block;
}

div.titlebox .md h2
{
    z-index: 1;
    position: relative;
}


/* expanding list contents */
div.titlebox ul
{
    list-style-type:none;
    margin:0px;
}
.res-nightmode .md ul li { border-color: #111 !important; border-bottom: 4px solid #111 !important; }
.res-nightmode .md ul li:hover { background-color:#fff !important; }
div.titlebox .md ul li:hover { background-color:#ddd; }

div.titlebox .md ul li
{
    padding:4px 6px 3px 6px;
    margin-left: 0px;
    border-left:2px solid #ddd;
    border-bottom:2px solid #ddd;
    border-right:2px solid #ddd;
    font-size:8pt;
}

/* Block Quotes */
.side blockquote + hr {
    border-width:0;
    width:0;
    background-color:transparent;
    margin:8px 0 8px;
}
body.res-nightmode .side hr
{
    border: 0 !important;
    border-bottom: 1px solid #000 !important;
}
.side blockquote
{
    border:0 none;
    padding:10px 15px 10px 15px;
    margin:0 0 8px;
    border:1px solid #CCC;
    background-color:#F5F5F5;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
}

.side h6 + blockquote { display:block; background-color:#f0f7fe; border:1px solid #c0defb; }
.side h5 + blockquote { display:block; background-color:#FFFFE6; border:1px solid #F4F225; }
.side h4 + blockquote { display:block; background-color:#E9FFE6; border:1px solid #9EF886; }
.pagename { margin-right:18px; font-weight:bold; font-variant:normal; font-size:16px; }

/* Nightmode Color Boxes */
.res-nightmode .side h6 + blockquote { border-color: #85b6ff; background-color: #3988ff !important; }
.res-nightmode .side h5 + blockquote { border-color: #F4F225; background-color: #626105 !important; }
.res-nightmode .side h4 + blockquote { border-color: #9EF886; background-color: #0A2903 !important; }
.res-nightmode .side blockquote { border-color: #555; background-color: #000 !important; }